#header{
    background-color: #499bea;
    height:40px;
    line-height: 40px;
    font-size: 20px;
    margin-bottom:30px;
    color:#fefefe;
    padding-left: 15px;
}

#body{
    padding-left: 10px;
}