<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>易双喜的博客主页</title>
    {%include "common/css.html"%}
    <link rel="stylesheet" href={{static_url('css/index.css')}} type="text/css" />
</head>
<body>
<!--分类列表-->
<div class="content-left">
    <h1 style="text-align:center"><a href="/">易双喜的博客</a></h1>
    <ul class="cates-list">
    <li>
        <a href="/pages/latest" target="iframe">
            最新 (<span class="color-green">10</span>)
        </a>
    </li> 
    <li>
        <a href="/pages/hotest" target="iframe">
            最热 (<span class="color-green">10</span>)
        </a>
    </li> 
    {%for cate in cates %}
        <li>
            <a href="/cates/{{cate['id']}}" target="iframe">
                {{cate['name']}} (<span class="color-green">{{cate['counts']}}</span>)
            </a>
        </li> 
    {%end%}
    </ul>
</div>

<iframe name="iframe" class="content-right"></iframe>


<script type="text/javascript" src={{static_url('js/core/jquery.js')}}></script>
<script type="text/javascript" src={{static_url('js/index.js')}}></script>
{%include "common/footer.html"%}
</body>
</html>