<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {%include "common/css.html"%}
    <link rel="stylesheet" type="text/css" href="{{static_url('js/plugins/kindeditor/themes/default/default.css')}}">
    <script type="text/javascript" src={{static_url('js/plugins/kindeditor/kindeditor.js')}} ></script>
    <script type="text/javascript">
        KindEditor.ready(function (K) {
            var editor = K.create('#kindeditor', {
                allowFileManager: true
            });
        });
    </script>
</head>
<body>
{%include "common/header.html"%}

<div id="body">
    <form>
        <div style="margin-bottom: 20px;">
            <label>标题：</label>
            <input name="title" type="text" class="u-ipt" placeholder="请输入博客标题">
        </div> 
        <div style="margin-bottom: 20px;">
            <label>分类：</label>
            <select name="cate">
                
            </select>
        </div>
        <textarea id="kindeditor" name="content" style="width:800px;height:400px;visibility:hidden;"></textarea>

        <input type="button" style="margin-top: 20px;" class="u-btn" value="发表">
        <input type="button" class="u-btn" value="存草稿">
    </form>


</div>

<script type="text/javascript" data-main={{static_url('js/publish.js')}} src={{static_url('js/core/require.js')}}></script>
</body>
</html>