.content:after{
    content:".";
    height:0;
    line-height:0;
    display:block;
    overflow:hidden;
    clear:both;
}
ul.cates-list{
    float:left; 
    margin:0;
    padding: 0 15px;
    width:150px;
    height:100%;
    overflow:auto;
}

ul.cates-list li{
    margin:0 0 10px 15px;
}

.blogs-list p{
    max-width:800px;
}

.blogs-list{
    float:left; 
    padding-left:15px;
    border-left:1px solid #ccc;
}

.blogs-list ul{
    margin: 0;
}