<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>分类管理</title>
    {%include "../common/css.html"%}
    <link rel="stylesheet" type="text/css" href="{{static_url('js/plugins/kindeditor/themes/default/default.css')}}">
    <script type="text/javascript" src={{static_url('js/plugins/kindeditor/kindeditor.js')}} ></script>
</head>
<body>
<div id="body">
    <ul>
        {% for cate in cates %}
        <li>{{cate['name']}}</li>
        {% end%}
    </ul>
</div>

<script type="text/javascript" src={{static_url('js/core/jquery.js')}}></script>
<script type="text/javascript" src={{static_url('js/admin/admin.js')}}></script>
</body>
</html>